<li>
  <p>
    <% if (comment.user && locals.user && locals.user.id == comment.user.id) { %>
      <small><a href="/comments/destroy/<%= comment._id %>">X</a></small>
    <% } %> 
    <%= comment.content %>
    <br />
    <small>
      <% if (comment.user) { %> <%= comment.user.name %> <% } else { %> User not available <% } %>
    </small>
  </p>
</li>